# Data science tools and ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List of popular data science languages
- List of popular data science libraries
- List of popular data science tools
- Arithmetic expression in Python

Some of the popular languages that Data Scientists use are:
1. python
2. java
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Keras
4. Tensor flow

| Data science tools|
| -----------------|
| MySQL |
| Kubernetes|
| Apache |
|Hadoop file system|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author

Leo Antony